

<div>
  <button (click)="sortPersonByNachname();">Sortieren</button>
  <button id="addUserCheckButton" (click)="toggleAddUser();">Person hinzufügen</button>

  <div *ngIf="isAddUserClicked">
    <h3>Hinzufügen</h3>
    <input [(ngModel)]="newUser.vorname" placeholder="Vorname">
    <input [(ngModel)]="newUser.nachname" placeholder="Nachname">
    <input [(ngModel)]="newUser.email" placeholder="Email">
    <button id="addUserButton" (click)="addNewUser()">Bestätigen</button>
    <button (click)="toggleAddUser();">Schließen</button>
  </div>
</div>

<div *ngIf="editingPerson">
  <h3>Bearbeiten</h3>
  <input [(ngModel)]="editingPerson.vorname" placeholder="Vorname">
  <input [(ngModel)]="editingPerson.nachname" placeholder="Nachname">
  <input [(ngModel)]="editingPerson.email" placeholder="Email">
  <button (click)="updatePerson()">Aktualisieren</button>
  <button (click)="cancelEdit()">Schließen</button>
</div>

<div *ngIf="showDetailPerson">
  <h4>Daten</h4>
  <label  for="geburtsdatum">Geburtsdatum: </label>
  <input id="geburtsdatum" readonly [(ngModel)]="showDetailPerson.geburtsdatum" >

  <label for="geschlecht">Geschlecht</label>
  <input id="geschlecht" readonly [(ngModel)]="showDetailPerson.geschlecht" >
  <button (click)="cancelInfo()">Schließen</button>
</div>

<table>
  <tr>
    <th>Id</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Email</th>
    <th>Aktion</th>
  </tr>
  <tr *ngFor="let person of personen">
    <td>{{person.id}}</td>
    <td>{{person.vorname}}</td>
    <td>{{person.nachname}}</td>
    <td>{{person.email}}</td>
    <td>
      <button class="actionButton" (click)="showInfoPerson(person);"> Info</button>
      <button class="actionButton" (click)="delete(person);"><i class="fas fa-trash-alt"></i></button>
      <button class="actionButton" (click)="editPerson(person);"  ><i class="fas fa-edit"></i></button>
    </td>
  </tr>
</table>
