<h2> Personen </h2>

<div>
 <button id="addUserButton" (click)="addNewUser();">
   Add User
 </button>

<input [(ngModel)]="newUser.vorname" placeholder="Vorname">
<input [(ngModel)]="newUser.nachname" placeholder="Nachname">
<input [(ngModel)]="newUser.email" placeholder="Email">
</div>

<table>
  <tr>
    <th>Id</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Email</th>
    <th>Aktion</th>
  </tr>
  <tr *ngFor = "let person of personen">
    <td>{{person.id}}</td>
    <td>{{person.vorname}}</td>
    <td>{{person.nachname}}</td>
    <td>{{person.email}}</td>
    <td>
      <button (click)="delete(person);">del</button>
      <button (click)="editPerson(person);" >edit</button>
    </td>
  </tr>
</table>

<div *ngIf="editingPerson">
  <h3>Bearbeiten</h3>
  <input [(ngModel)]="editingPerson.vorname" placeholder="Vorname">
  <input [(ngModel)]="editingPerson.nachname" placeholder="Nachname">
  <input [(ngModel)]="editingPerson.email" placeholder="Email">
  <button (click)="updatePerson()"> Aktualisieren </button>
  <button (click)="cancelEdit()">Abbrechen</button>
</div>
